<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-brand">
                    <img src="../assets/Icon.png" heigh="20" width="30" alt="logo">
                </a> 
            </li>
            <!-- Links --> 
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div style="text-align:center">
        <h1>Support</h1><br><br>
        <h2>Welcome to Customer Service Support Center</h2><br><br>
        <h3>Leave us a message if you have any issue</h3>
    </div><br><br><br><br>
    <div class="row">
        <div class="row">
            <div class="col-sm">
                <h5 for="email">Email</h5>
                <p>info@customerservice.com</p>
            </div>
            <div class="col-sm">
                <h5 for="phone">Phone</h5>
                <p>800799810</p>
            </div>
            <div class="col-sm">
                <h5 for="address">Address</h5>
                <p>198 West street,Bangalore,India,422511</p>
            </div>
        </div>
    </div>
</div><br><hr><br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Our offerings</h4>
            <a>Recharge Plans</a><br>
            <a>Shop</a><br>
            <a>Broadband</a>
        </div>
        <div class="col-sm">
            <h4>Useful Links</h4>
            <a>Get Sim</a><br>
            <a>Recharge Plans</a><br>
            <a>Pay Bills</a>
        </div>
        <div class="col-sm">
            <h4>Our Company</h4>
            <a>Brand</a><br>
            <a>Career</a><br> 
            <a>Investors</a><br>
            <a>Industries</a><br>
            <a>Partners</a>
        </div>
    </div>
</div>