<nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-brand">
            <img src="../assets/Icon.png" heigh="20" width="30" alt="logo">
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/operators">Operators</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/departments">Department</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admins">Admin</a>
        </li>
      </ul>
      <span class="navbar-nav">
        <button class="btn btn-sm btn-outline-dark me-2" type="button">
          <a class="nav-link logout" id="split" (click)="logout()">LogOut</a>
        </button>
      </span>
    </div>
</nav>

  <div *ngIf="operators.length == 0">
    <p class="alert alert-info">No data found on server.</p>
  </div>
  
<div *ngIf="operators" class="container-fluid" operator-table>
    <div class="headers">
      <h2 class="table-title"><mat-icon style="margin-top: 15%;">person</mat-icon>Operators</h2>
      <!-- Search -->
      <div class="search">
        <input class="search-box" type="text" name="search" [(ngModel)]="searchText" placeholder="Search...">
      </div> 
      <button class="btn add" (click)="newForm()">Add Operator</button>
    </div>
    <table class="table">
        <thead class="text-center">
          <tr>
            <th (click)="changeSortField('operatorId')">ID</th>
            <th (click)="changeSortField('firstName')">FirstName</th>
            <th (click)="changeSortField('lastName')">LastName</th>
            <th (click)="changeSortField('email')">Email</th>
            <th (click)="changeSortField('departmentName')">Department</th>
            <th (click)="changeSortField('mobile')">Mobile</th>
            <th (click)="changeSortField('city')">City</th>
            
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let operator of operators | filter:searchText">
            <td>{{operator.operatorId}}</td>
            <td>{{operator.firstName}}</td>
            <td>{{operator.lastName}}</td>
            <td>{{operator.email}}</td>
            <td>{{operator.departmentName}}</td>
            <td>{{operator.mobile}}</td>
            <td>{{operator.city}}</td>
            
            <td><button class="btn btn-primary" (click)="openForm(operator)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="DeleteOperator(operator)">Delete</button></td>
          </tr>
        </tbody>
    </table>
</div>


<!-- New Form -->
<div class="formwrapper" *ngIf="showForm">  

    <div class="operatorform">
        <h2 class="text-center text-dark head">{{formHeader}}</h2>

        <div class="group">
            <label style="margin-left: 5px;" for="firstName">FirstName</label>
            <input type="text" style="margin-left: 10px;" class="form-control" [(ngModel)]="operatorr.firstName" #fnameRef="ngModel" pattern="^[A-Za-z -]+$" name="firstName" required>
            <div *ngIf="fnameRef.invalid && (fnameRef.dirty || fnameRef.touched)">
              <div *ngIf="fnameRef.errors?.['required']" class="alert alert-danger">FirstName is required.</div>
              <div *ngIf="fnameRef.errors?.['pattern']" class="alert alert-danger">FirstName contain only alphabets.</div>
            </div>
            <label style="margin-left: 5px;" for="lastName">LastName</label>
            <input type="text" style="margin-left: 10px;" class="form-control" [(ngModel)]="operatorr.lastName" #lnameRef="ngModel" pattern="^[A-Za-z -]+$" name="lastName" required>
            <div *ngIf="lnameRef.invalid && (lnameRef.dirty || lnameRef.touched)">
              <div *ngIf="lnameRef.errors?.['required']" class="alert alert-danger">LastName is required.</div>
              <div *ngIf="lnameRef.errors?.['pattern']" class="alert alert-danger">LastName contain only alphabets.</div>
            </div>
        </div>

        <div class="group">
            <label for="email" style="margin-left: 10px;">Email</label>
            <input type="email" style="margin-left: 8px;" class="form-control" #emailRef="ngModel"  [(ngModel)]="operatorr.email" name="email" email required>
            <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">
              <div *ngIf="emailRef.errors?.['required']" class="alert alert-danger">Email is required.</div>
              <div *ngIf="emailRef.errors?.['email']" class="alert alert-danger">Require valid Email.</div>
            </div>
        </div>

        <div class="group">
          <label style="margin-right: 10px;" for="departmentName">Department</label>
          <input style="margin-left: 8px;" class="form-control" [(ngModel)]="operatorr.departmentName" #typeRef="ngModel" name="departmentName" required>
          <div *ngIf="typeRef.invalid && (typeRef.dirty || typeRef.touched)">
            <div *ngIf="typeRef.errors?.['required']" class="alert alert-danger">Department name is required.</div>
          </div>
        </div>

        <div class="group">
            <label for="mobile" style="margin-left: 10px;">Mobile</label>
            <input type="number" style="margin-left: 8px;" class="form-control" [(ngModel)]="operatorr.mobile" name="mobile" #mobileRef="ngModel" pattern="^[6-9][0-9]{9}" required>
            <div *ngIf="mobileRef.invalid && (mobileRef.dirty || mobileRef.touched)">
              <div *ngIf="mobileRef.errors?.['required']" class="alert alert-danger">Mobile Number is required.</div>
              <div *ngIf="mobileRef.errors?.['pattern']" class="alert alert-danger">Require valid Mobile Number.</div>
            </div>
        </div>

        <div class="group">
            <label for="city" style="margin-left: 10px;">City</label>
            <input type="text" style="margin-left: 8px;" class="form-control" [(ngModel)]="operatorr.city" name="city" #cityRef="ngModel" pattern="^[A-Za-z -]+$" required>
            <div *ngIf="cityRef.invalid && (cityRef.dirty || cityRef.touched)">
              <div *ngIf="cityRef.errors?.['required']" class="alert alert-danger">City is required.</div>
              <div *ngIf="cityRef.errors?.['pattern']" class="alert alert-danger">Require valid City.</div>
            </div>
        </div>

        <div class="group">
          <label for="password" style="margin-left: 10px;">Password</label>
          <input type="password" style="margin-left: 8px;" class="form-control" [(ngModel)]="operatorr.password" name="password" #passwordRef="ngModel" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$" required>
          <div *ngIf="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)">
            <div *ngIf="passwordRef.errors?.['required']" class="alert alert-danger">Password is required.</div>
            <div *ngIf="passwordRef.errors?.['pattern']" class="alert alert-danger">Require valid Password.</div>
          </div>
      </div>
        <div class="action">
            <button class="btn btn-primary" (click)="saveOperator()">Add Operator</button>
            <button class="btn btn-danger" (click)="closeForm()">Cancel</button>
        </div>

    </div>
</div>

<!-- Open Form -->
<div class="formwrapper" *ngIf="viewForm">  

    <div class="operator-form">
        <h2 class="text-center text-dark head">{{formsHeader}}</h2>
        
        <div class="group">
            <label for="operatorId" style="margin-left: 10px;">ID</label>
            <input type="number" style="margin-left: 8px;" class="form-control" [(ngModel)]="operatorToUpdate.operatorId" name="operatorId" disabled>
        </div>
        <div class="group">
            <label style="margin-left: 5px;" for="firstName">FirstName</label>
            <input type="text" style="margin-left: 10px;" class="form-control" [(ngModel)]="operatorToUpdate.firstName" name="firstName" #fnameRef="ngModel" pattern="^[A-Za-z -]+$" required>
            <div *ngIf="fnameRef.invalid && (fnameRef.dirty || fnameRef.touched)">
              <div *ngIf="fnameRef.errors?.['required']" class="alert alert-danger">FirstName is required.</div>
              <div *ngIf="fnameRef.errors?.['pattern']" class="alert alert-danger">FirstName contain only alphabets.</div>
            </div>
            <label style="margin-left: 5px;" for="lastName">LastName</label>
            <input type="text" style="margin-left: 10px;" class="form-control" [(ngModel)]="operatorToUpdate.lastName" name="lastName" #lnameRef="ngModel" pattern="^[A-Za-z -]+$" required>
            <div *ngIf="lnameRef.invalid && (lnameRef.dirty || lnameRef.touched)">
              <div *ngIf="lnameRef.errors?.['required']" class="alert alert-danger">LastName is required.</div>
              <div *ngIf="lnameRef.errors?.['pattern']" class="alert alert-danger">LastName contain only alphabets.</div>
            </div>
          </div>

        <div class="group">
            <label for="email" style="margin-left: 10px;">Email</label>
            <input type="email" style="margin-left: 8px;" class="form-control" [(ngModel)]="operatorToUpdate.email" name="email" #emailRef="ngModel"  email required>
            <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">
              <div *ngIf="emailRef.errors?.['required']" class="alert alert-danger">Email is required.</div>
              <div *ngIf="emailRef.errors?.['email']" class="alert alert-danger">Require valid Email.</div>
            </div>
        </div>
        <div class="group">
          <label style="margin-right: 10px;" for="departmentName">Department</label>
          <input style="margin-left: 8px;" class="form-control" [(ngModel)]="operatorToUpdate.departmentName" #typeRef="ngModel" name="departmentName" required>
          <div *ngIf="typeRef.invalid && (typeRef.dirty || typeRef.touched)">
            <div *ngIf="typeRef.errors?.['required']" class="alert alert-danger">Department name is required.</div>
          </div>
        </div>

        <div class="group">
            <label for="mobile" style="margin-left: 10px;">Mobile</label>
            <input type="number" style="margin-left: 8px;" class="form-control" [(ngModel)]="operatorToUpdate.mobile" name="mobile" #mobileRef="ngModel" pattern="^[6-9][0-9]{9}" required>
            <div *ngIf="mobileRef.invalid && (mobileRef.dirty || mobileRef.touched)">
              <div *ngIf="mobileRef.errors?.['required']" class="alert alert-danger">Mobile Number is required.</div>
              <div *ngIf="mobileRef.errors?.['pattern']" class="alert alert-danger">Require valid Mobile Number.</div>
            </div>
        </div>

        <div class="group">
            <label for="city" style="margin-left: 10px;">City</label>
            <input type="text" style="margin-left: 8px;" class="form-control" [(ngModel)]="operatorToUpdate.city" name="city" #cityRef="ngModel" pattern="^[A-Za-z -]+$" required>
            <div *ngIf="cityRef.invalid && (cityRef.dirty || cityRef.touched)">
              <div *ngIf="cityRef.errors?.['required']" class="alert alert-danger">Password is required.</div>
              <div *ngIf="cityRef.errors?.['pattern']" class="alert alert-danger">Require valid Password.</div>
            </div>
        </div>
        <div class="action">
            <button class="btn btn-primary save" (click)="updateOperator(operatorToUpdate)">Save Changes</button>
            <button class="btn btn-danger save" (click)="closeForm()">Cancel</button>
        </div>

    </div>
</div>